.tech1{
    text-align: center;
}
.tech2{
    padding-top: 80px;
    padding-left: 230px;
    padding-right: 80px;
    padding-bottom: 30px;
}
.techhd{
    font-size: 60px;
    padding-top: 50px;
    color: blue;
    text-decoration: underline double ;
}
.techhd1{
    font-size: 40px;
    margin-bottom: 40px;
}
.techhd2{
    font-size: 40px;
    margin-bottom: 40px;
}
.techhd3{
    font-size: 40px;
    margin-bottom: 40px;
}
.techhd4{
    font-size: 40px;
    margin-bottom: 40px;
}
span{
    color: rgb(247, 7, 7);
}
.skills{
    background-color: skyblue;
}